<!doctype html>
<html class="no-js" lang="" xmlns="http://www.w3.org/1999/html">
	<head>
	 	<meta charset="UTF-8">
	 	{{>components/html_head}}
	 	<script src="/assets/js/browser.js"></script>
	</head>

<body>
  {{>components/header}}
	
	<div class="w3-container w3-margin w3-black">
	  <h1>Tus juegos recientes</h1>
	</div>
	
	<div class="w3-row-padding w3-margin-top">
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png"class="w3-border w3-padding w3-hover-opacity"  style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  

	</div>
	
	<div class="w3-container w3-margin w3-black">
	  <h1>Tus juegos de PC</h1>
	</div>
	
	<div class="w3-row-padding w3-margin-top">
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png"class="w3-border w3-padding w3-hover-opacity"  style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/lol.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%;max-width:400px">
	      <div class="w3-container">
	        <h5 class="w3-center">League of Legends</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/smite.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Smite</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div id="steam1" style="display: none" class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/warframe.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Warframe</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div id="steam2" style="display: none" class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/EU4.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Europa Universalis 4</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div id="steam3" style="display: none" class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/heart.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Hearthstone</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div id="steam4" style="display: none" class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/steam.png" onclick="openSteam()" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Añadir juegos</h5>
	      </div>
	    </div>
	  </div>
	  
	</div>
	
	<div class="w3-container w3-margin w3-black">
	  <h1>Tus juegos de Playstation</h1>
	</div>
	
		<div class="w3-row-padding w3-margin-top">
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png"class="w3-border w3-padding w3-hover-opacity"  style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/blood.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Bloodborne</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/last.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%;max-height:200px">
	      <div class="w3-container">
	        <h5 class="w3-center">The last of Us</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div id="play1" style="display: none" class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/dark.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Dark Souls</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div id="play2" style="display: none" class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/godwar.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">God of War</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div id="play3" style="display: none" class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/uncharted.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Uncharted</h5>
	      </div>
	    </div>
	  </div>
	  

	  <div id="play4" style="display: none" class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/play.png" onclick="openPlay()"  class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Añadir juegos</h5>
	      </div>
	    </div>
	  </div>
	  

	</div>
	
	<div class="w3-container w3-margin w3-black">
	  <h1>Tus juegos de XBOX</h1>
	</div>
	
		<div class="w3-row-padding w3-margin-top">
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png"class="w3-border w3-padding w3-hover-opacity"  style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/gears.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Gears of War</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/halo.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Halo</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div id="xbox1" style="display: none"  class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/portal.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Portal</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div id="xbox2" style="display: none" class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/witcher.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">The Witcher 3</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div id="xbox3" style="display: none"  class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/borderlands.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Borderlands 2</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div id="xbox4" style="display: none"  class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/xbox.png" onclick="openXbox()" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Añadir Juegos</h5>
	      </div>
	    </div>
	  </div>
	  

	</div>

	<div class="w3-container w3-margin w3-black">
	  <h1>Tus juegos de Nintendo</h1>
	</div>
	
		<div class="w3-row-padding w3-margin-top">
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png"class="w3-border w3-padding w3-hover-opacity"  style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/ac.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Animal Crossing</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/doom.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Doom Eternal</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div id="ninte1" style="display: none" class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/mario.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Super Mario</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div id="ninte2" style="display: none" class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/tetris.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Tetris</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div id="ninte3" style="display: none" class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/pokemon.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Pokemon</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div  id="ninte4" style="display: none"  class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/ninten.png" onclick="openNintendo()" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Añadir Juegos</h5>
	      </div>
	    </div>
	  </div>
	  

	</div>

<br>
<br>

  {{>components/footer}}
</body>
</html>