<!doctype html>
<html class="no-js" lang="">
<head>
	 	<meta charset="UTF-8">
	 	{{>components/html_head}}
</head>

<body>

<div class="container mt-3 mb-5 big-banner">
	<div class="bg"></div>
	<div class="row">
      <div class="col-6 mx-auto">
        <img class="mx-auto d-block" src="/assets/img/logo/png/UtopiaGaming.png" alt="Avatar">
        <br>
        <h6 align="center"> <b> ¡Bienvenido a la mayor comunidad del mundo gaming!</b></h6>
      </div>
    </div>
    
    
   <div class="col-12 mx-auto">

    <div class="row">
  		
  		
  		
  		<div class="col-sm-6">
  		<h1>Registro</h1>
  		<form id="register-form" action="registerUser" method="post">
  		<div class="form-group">

            <div class="form-group">
              <label class="register-form_username">Nombre de usuario</label>
              <input type="text" class="form-control" name="name" id="register-username" placeholder="Introduce tu nombre de usuario" required>
            </div>

            <div class="form-group">
              <label class="register-form_email">E-mail</label>
              <input type="text" class="form-control" name="email" id="register-email" placeholder="Introduce tu e-mail" required>
            </div>

            <div class="form-group">
              <label class="register-form_password">Contraseña</label>
              <input type="password" class="form-control" name="passwordHash" id="register-password" placeholder="Introduce tu contraseña" required>
            </div>
		
            <div class="form-group">
              <label class="register-form_password">Confirmar contraseña</label>
              <input type="password" class="form-control" id="password-confirm" placeholder="Confirmar contraseña" required>
            </div>
 		
            <div class="control-group">
              <div class="controls">
                <button id="register" class="btn btn-primary">Registrarse</button>
              </div>
            </div>
          </div>
  		</form>
        </div>
          


  			
  		<div class="col-sm-6">
	  		<form id="login-form" action="loginUser" method="POST">
	  		<h1>Login</h1>
		  		<label for="login-form_username">Nombre de usuario</label>
		        <input type="text" name="username" class="form-control" id="login-form_username" placeholder="Introduce tu nombre de usuario" required>
	            <div class="form-group">
	            	<label for="login-form_password">Contraseña</label>
	            	<input type="password"name="password" class="form-control" id="login-form_password" placeholder="Introduce tu contraseña" required>
	          	</div>
	         	<button type="submit" class="btn btn-primary" id="login-form_button">Iniciar sesión</button>
	            <div class="form-check">
	               	<input class="form-check-input" type="checkbox" value="" id="login-form_remember">
	                <label class="form-check-label" for="login-form_remember">Recuerdame</label>
	            </div>
	        </form>
        </div>
        
  </div>
            

	</div>
</div>

<br>
<br>


  {{>components/footer}}

</body>
</html>