<!doctype html>
<html class="no-js" lang="" xmlns="http://www.w3.org/1999/html">
	<head>
	 	<meta charset="UTF-8">
	 	{{>components/html_head}}
	</head>

<body>
  {{>components/header}}
	
	<div class="w3-container w3-margin w3-black">
	  <h1>Tus juegos recientes</h1>
	</div>
	
	<div class="w3-row-padding w3-margin-top">
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png"class="w3-border w3-padding w3-hover-opacity"  style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  

	</div>
	
	<div class="w3-container w3-margin w3-black">
	  <h1>Tus juegos de PC</h1>
	</div>
	
	<div class="w3-row-padding w3-margin-top">
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png"class="w3-border w3-padding w3-hover-opacity"  style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/steam.png" onclick="openSteam()" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Añadir juegos</h5>
	      </div>
	    </div>
	  </div>
	  
	</div>
	
	<div class="w3-container w3-margin w3-black">
	  <h1>Tus juegos de Playstation</h1>
	</div>
	
		<div class="w3-row-padding w3-margin-top">
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png"class="w3-border w3-padding w3-hover-opacity"  style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/play.png" onclick="openPlay()"  class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Añadir juegos</h5>
	      </div>
	    </div>
	  </div>
	  

	</div>
	
	<div class="w3-container w3-margin w3-black">
	  <h1>Tus juegos de XBOX</h1>
	</div>
	
		<div class="w3-row-padding w3-margin-top">
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png"class="w3-border w3-padding w3-hover-opacity"  style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/xbox.png" onclick="openXbox()" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Añadir Juegos</h5>
	      </div>
	    </div>
	  </div>
	  

	</div>

	<div class="w3-container w3-margin w3-black">
	  <h1>Tus juegos de Nintendo</h1>
	</div>
	
		<div class="w3-row-padding w3-margin-top">
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png"class="w3-border w3-padding w3-hover-opacity"  style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/minecraft2.png" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Minecraft</h5>
	      </div>
	    </div>
	  </div>
	  
	  	
	  <div class="w3-col m1">
	    <div class="w3-card">
	      <img src="/assets/img/juegos/ninten.png" onclick="openNintendo()" class="w3-border w3-padding w3-hover-opacity" style="width:100%">
	      <div class="w3-container">
	        <h5 class="w3-center">Añadir Juegos</h5>
	      </div>
	    </div>
	  </div>
	  

	</div>

<br>
<br>

  {{>components/footer}}
</body>
</html>