<!doctype html>
<html class="no-js" lang="" xmlns="http://www.w3.org/1999/html">
	<head>
	 	<meta charset="UTF-8">
	 	{{>components/html_head}}
	</head>

<body>
  {{>components/header}}
<br>
<br>

	<div class="w3-panel w3-red">
  		<p>Juegos de PC</p>
	</div> 
	
	<div class="w3-card-4">
	  <img src="/assets/img/juegos/minecraft.png" alt="Alps">
	  <div class="w3-container w3-center">
	    <p>Minecraft</p>
	  </div>
	</div> 
	
	<div class="w3-card-4">
	  <img src="/assets/img/juegos/minecraft.png" alt="Alps">
	  <div class="w3-container w3-center">
	    <p>Minecraft</p>
	  </div>
	</div> 
			
	<div class="w3-card-4">
	  <img src="/assets/img/juegos/minecraft.png" alt="Alps">
	  <div class="w3-container w3-center">
	    <p>Minecraft</p>
	  </div>
	</div> 
<br>
<br>

  {{>components/footer}}
</body>
</html>